emoji {
    display: inline-block;
    content: none;
    height: 20px;
    width: 20px;
}

/* this is a terrible way to do emojis but wait; I DON'T CARE!!! HAHAHAHAHAHAHAHHA SCREW YOU.. WHOEVER YOU ARE! */
emoji#classic\ biggrin { background: url('classic/biggrin.gif'); background-size: cover; }
emoji#classic\ blush { background: url('classic/blush.gif'); background-size: cover; }
emoji#classic\ bouncey { background: url('classic/bouncey.gif'); background-size: cover; }
emoji#classic\ brushteeth { background: url('classic/brushteeth.gif'); background-size: cover; }
emoji#classic\ cheers { background: url('classic/cheers.gif'); background-size: cover; }
emoji#classic\ clown { background: url('classic/clown.gif'); background-size: cover; }
emoji#classic\ confused { background: url('classic/confused.gif'); background-size: cover; }
emoji#classic\ cool { background: url('classic/cool.gif'); background-size: cover; }
emoji#classic\ cry { background: url('classic/cry.gif'); background-size: cover; }
emoji#classic\ dead { background: url('classic/dead.gif'); background-size: cover; }
emoji#classic\ eek { background: url('classic/eek.gif'); background-size: cover; }
emoji#classic\ frown { background: url('classic/frown.gif'); background-size: cover; }
emoji#classic\ hail { background: url('classic/hail.gif'); background-size: cover; }
emoji#classic\ idea { background: url('classic/idea.gif'); background-size: cover; }
emoji#classic\ kiss { background: url('classic/kiss.gif'); background-size: cover; }
emoji#classic\ laugh { background: url('classic/laugh.gif'); background-size: cover; }
emoji#classic\ look { background: url('classic/look.gif'); background-size: cover; }
emoji#classic\ mad { background: url('classic/mad.gif'); background-size: cover; }
emoji#classic\ nerd { background: url('classic/nerd.gif'); background-size: cover; }
emoji#classic\ nono { background: url('classic/nono.gif'); background-size: cover; }
emoji#classic\ notgood { background: url('classic/notgood.gif'); background-size: cover; }
emoji#classic\ perfect { background: url('classic/perfect.gif'); background-size: cover; }
emoji#classic\ quiet { background: url('classic/quiet.gif'); background-size: cover; }
emoji#classic\ rose { background: url('classic/rose.gif'); background-size: cover; }
emoji#classic\ sleep { background: url('classic/sleep.gif'); background-size: cover; }
emoji#classic\ smile { background: url('classic/smile.gif'); background-size: cover; }
emoji#classic\ tongue { background: url('classic/tongue.gif'); background-size: cover; }
emoji#classic\ turtle-icon { background: url('classic/turtle-icon.gif'); background-size: cover; }
emoji#classic\ wave { background: url('classic/wave.gif'); background-size: cover; }
emoji#classic\ whissle { background: url('classic/whissle.gif'); background-size: cover; }
emoji#classic\ wink { background: url('classic/wink.gif'); background-size: cover; }

emoji#new\ biggrin { background: url('new/biggrin.png'); background-size: cover; }
emoji#new\ confused { background: url('new/confused.png'); background-size: cover; }
emoji#new\ cool { background: url('new/cool.png'); background-size: cover; }
emoji#new\ eek { background: url('new/eek.png'); background-size: cover; }
emoji#new\ frown { background: url('new/frown.png'); background-size: cover; }
emoji#new\ mad { background: url('new/mad.png'); background-size: cover; }
emoji#new\ redface { background: url('new/redface.png'); background-size: cover; }
emoji#new\ rolleyes { background: url('new/rolleyes.png'); background-size: cover; }
emoji#new\ shrug { background: url('new/shrug.webp'); background-size: cover; }
emoji#new\ smile { background: url('new/smile.png'); background-size: cover; }
emoji#new\ thumbup { background: url('new/thumbup.png'); background-size: cover; }
emoji#new\ tounge { background: url('new/tounge.png'); background-size: cover; }
emoji#new\ wink { background: url('new/wink.png'); background-size: cover; }

emoji#turtle\ careless { background: url('turtle/careless.png'); background-size: cover; }
emoji#turtle\ cuss { background: url('turtle/cuss.png'); background-size: cover; }
emoji#turtle\ eye { background: url('turtle/eye.png'); background-size: cover; }
emoji#turtle\ idea { background: url('turtle/idea.png'); background-size: cover; }
emoji#turtle\ joy { background: url('turtle/joy.png'); background-size: cover; }
emoji#turtle\ king { background: url('turtle/king.png'); background-size: cover; }
emoji#turtle\ mad { background: url('turtle/mad.png'); background-size: cover; }
emoji#turtle\ melt { background: url('turtle/melt.png'); background-size: cover; }
emoji#turtle\ party { background: url('turtle/party.png'); background-size: cover; }
emoji#turtle\ pixel { background: url('turtle/pixel.png'); background-size: cover; }
emoji#turtle\ program { background: url('turtle/program.png'); background-size: cover; }
emoji#turtle\ question { background: url('turtle/question.png'); background-size: cover; }
emoji#turtle\ raged { background: url('turtle/raged.png'); background-size: cover; }
emoji#turtle\ robot { background: url('turtle/robot.png'); background-size: cover; }
emoji#turtle\ shock { background: url('turtle/shock.png'); background-size: cover; }
emoji#turtle\ skull { background: url('turtle/skull.png'); background-size: cover; }
emoji#turtle\ smile { background: url('turtle/smile.png'); background-size: cover; }
emoji#turtle\ sob { background: url('turtle/sob.png'); background-size: cover; }
emoji#turtle\ sunglasses { background: url('turtle/sunglasses.png'); background-size: cover; }
emoji#turtle\ sweat { background: url('turtle/sweat.png'); background-size: cover; }
emoji#turtle\ thumbup { background: url('turtle/thumbup.png'); background-size: cover; }
emoji#turtle\ warn { background: url('turtle/warn.png'); background-size: cover; }

